.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* temp styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.product-badge {
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(6px + 1vmin);
}

.product-description {
  font-weight: 500;
  margin-bottom: 5px;
}
.product-code {
  font-weight: 400;
  color: #404040;
  font-size: calc(8px + 1vmin);
  margin: 0;
}
.product-price {
  font-weight: 600;
}

/* detail page */
.product-detail {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 20px;
}

.product-detail img {
  width: 100%;
}
